@import "tailwindcss";

:root {
  --green: #025901;
  --lime: #9dbd37;
  --black: #1c1618;
  --white: #fefefe;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100svw;
  height: 100dvh;
  background-color: var(--black);
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding-block: 1rem;
  overflow-x: hidden;
}

.btn-block-verticle {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  height: 400px;
  overflow-y: auto;
}
.btn-block-verticle button {
  width: 80%;
}

.inactive {
  color: red;
}
