.modeSwitch {
  border: 1px solid var(--white);
  border-radius: 18px;
  height: 40px;
  width: 200px;
  display: flex;
  align-items: center;
  box-shadow: inset -4px -4px 6px #333, inset 4px 4px 6px #333;
  background-color: #000;
}

.switchLabel {
  border: 1px solid var(--lime);
  border-radius: 18px;
  padding: 0.3rem 0.8rem;
  color: var(--lime);
  box-shadow: inset -2px -2px 4px #333, inset 2px 2px 4px #333;
}

.liveMode {
  background-color: var(--green);
  border-color: var(--lime);
  color: var(--lime);
  margin-left: auto;
}

.testMode {
  background-color: var(--green);
  border-color: var(--lime);
  color: var(--lime);
}

.modeSwitch label input[type="checkbox"] {
  display: none;
}
